#my-side-bar{
	left: 0;
	position: fixed;
	height: 80%;
	width: 30%;
	margin-left: 10px;
}

.my-icones{
	margin: 5px 0;
}

.my-icones svg{
	width: 40px;
	height: 40px;
	color: #fff;
}

.my-icones svg:active{
	color: #e84d72;
}


.my-icones a{
	background-color: #e84d72;
}

.my-icones a:active{
	background-color: #fff;
}

img.image{
	width: 40px;
	height: 40px;
}

img.image:hover{
	width: 50px;
	height: 50px;
}

img.image:active{
	width: 40px;
	height: 40px;
}